node_modules
.env

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json
deployments/
.openzeppelin
arguments.js

deploy/02-create-tomoji_spec.ts
deploy/03-mint-tomoji_spec.ts